html {
    text-align: center;
}

h1 {
    text-shadow: 1px 2px yellow, 2px 3px blue, 3px 4px purple, 5px 6px red;
    font-size: 3em;
}

.caja {
    width: 40%;
    height: 200px;
    border: 2px solid black;
    border-radius: 10px;
    float: left;
    margin: auto;
    margin-left: 6%;
}

.caja img {
    max-width: 50%;
}